@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    font-size: 10px;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu {
    background-color: #292f36;
    padding: 1.5rem;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu__title {
    text-align: center;
    font-size: 5rem;
    color: #d1d646;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.option {
    font-size: 2rem;
    padding: 1rem 0;
}

.option__title {
    padding: 0.5rem;
    text-align: center;
    font-size: 2.5rem;
    color: #eee5e9;
}

.options {
    padding: 0 0 1rem 0;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem 0;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    width: 115px;
    background-color: #999799;
    border: 3px solid #999799;
    cursor: pointer;
    transition: all .2s;
}

.btn:hover {
    background-color: #d1d646;
    color: #292f36;
    border: 3px solid #d1d646;
}

.btn__play {
    font-size: 2rem;
    width: 70%;
    margin: 0 auto;
}

.active {
    background-color: #d1d646;
    border: 3px solid #d1d646;
    color: #292f36;
}

.nonvalid {
    background-color: #ff4242;
    border: 3px solid #ff4242;
    color: #eee5e9;
}

.hide {
    display: none;
}

.show {
    display: block;
}

